

@{
    ViewBag.Title = "Ballots";
}

<div class="row">
    <h3>@ViewBag.Title</h3>

    <hr />

    <div class="form-group">
        <a href="@Url.Action("Create", "Ballots")" class="btn btn-primary">
            @Html.FontAwesome(FontAwesomeIconSet.File)
            Add New
        </a>
    </div>

    <table id="Ballots" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Open Date</th>
                <th>Close Date</th>
                <th>Electoral District</th>
                <th>Approved</th>
                <th>@Html.FontAwesome(FontAwesomeIconSet.Edit)</th>
                <th>@Html.FontAwesome(FontAwesomeIconSet.Remove)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
